<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usuário</title>
  <base href="/editarUsuario/:id">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <p id="cabecalho">
      <a href="/">HOME</a>
      <a href="cadastro" id="cadastro">CADASTRAR USUARIO</a>
      <a href="empresa" id="empresa">CADASTRAR EMPRESA</a>
    </p>
  </header>

  <main>
    <h1>EDITAR USUARIO</h1>
    <form class="edit-form" method="post" action="/editarUsuario/<%= usuario.id %>" id="form" onsubmit="alert('Usuário editado com sucesso!')">
      <section>
        <div>
          <p>NOME</p>
          <input type="text" name="nome" placeholder="Digite o seu nome" id="atv" value="<%= usuario.nome %>">
        </div>
  
        <div class="pai">
          <div>
            <p>CPF</p>
            <input type="text" name="cpf" placeholder="Digite o seu cpf" id="atv" value="<%= usuario.cpf %>">
          </div>
  
          <div>
            <p>ENDEREÇO</p>
            <input type="text" name="endereco" placeholder="Digite o seu endereço" id="atv" value="<%= usuario.endereco %>">
          </div>
        </div>
        <button type="reset" id="env">Apagar</button>
      </section>
  
      <section>
        <div>
          <p>E-MAIL</p>
          <input type="text" name="email" placeholder="Digite o seu e-mail" id="atv" value="<%= usuario.email %>">
        </div>
  
        <div class="pai">
          <div>
            <p>SENHA</p>
            <input type="text" name="senha" placeholder="Digite uma senha" id="atv" value="<%= usuario.senha %>">
          </div>
  
          <div>
            <p>TELEFONE</p>
            <input type="text" name="telefone" placeholder="Digite o seu telefone" id="atv" value="<%= usuario.telefone %>"> 
          </div>
        </div>
        <button type="submit" id="env" class="editar">Enviar</button>
      </section>
  
    </form>
  </main>
</body>

</html>