<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <base href="/cadastro">
  <link rel="stylesheet" href="/style_login.css">
</head>
<body>
  <div class="page">
    <form class="formLogin" method="post" action="/editarProduto/<%= produto.id %>" enctype="multipart/form-data" onsubmit="alert('Produto editado com sucesso!')">
      <h1>Editar Produto</h1>
      <p>Digite os dados no campo abaixo.</p>
        <section>
          <div class="pai">
            <div>
              <label for="nome" id="atv">Nome</label>
              <input type="text" name="nome" placeholder="Digite o seu nome do produto" autofocus="true" id="atv" value="<%= produto.nome %>">
            </div>

            <div>
              <label for="valor" id="atv">Valor</label>
              <input type="number" name="valor" placeholder="Informe o valor do produto" id="atv" value="<%= produto.valor %>">
            </div>
          </div>

         <div class="pai">
            <div>
              <label for="descricao" id="atv">Descrição</label>
              <input type="text" name="descricao" placeholder="Fale sobre o produto" id="atv" value="<%= produto.descricao %>">
            </div>

            <div>
              <label for="empresa" id="atv">Empresa</label>
              <input type="text" name="empresa_id" placeholder="Código da empresa" id="atv" value="<%= produto.empresa_id %>">
            </div>
          </div>

          <div class="pai">
            <div>
              <label for="frete" id="atv">Frete</label>
              <input type="number" name="frete" placeholder="Digite o valor do frete" id="atv" value="<%= produto.frete %>">
            </div>

            <div>
              <label for="foto" id="atv">Foto</label>
              <input type="file" name="foto" placeholder="Informe a foto do produto" value="<%= produto.foto %>">
            </div>
          </div>
        </section>
        <section id="botoes">
          <button type="reset" value="Acessar" class="cadastro">Apagar</button>
          <button type="submit" value="Acessar" class="cadastro" id="env">Enviar</button>
        </section>
    </form>
  </div>
</body>
</html>