<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <base href="/login">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <p id="cabecalho">
      <a href="index.ejs">HOME</a>
      <a href="login.ejs" id="cadastrar">CADASTRAR USUARIO</a>
    </p>
  </header>

  <main>
    <h1> CADASTRO DE USUARIO </h1>
    <form method="post" id="form">

      <section>
        <div>
          <p> NOME </p>
          <input type="text" name="nome" placeholder="Digite o seu nome" id="atv">
        </div>

        <div class="pai">
          <div>
            <p> CPF </p>
            <input type="text" name="cpf" placeholder="Digite o seu cpf" id="atv">
          </div>

          <div>
            <p> ENDEREÇO </p>
            <input type="text" name="marca" placeholder="Digite o seu endereço" id="atv">
          </div>
        </div>
        <input type="reset" value="Apagar" id="env">
      </section>

      <section>
        <div>
          <p> E-MAIL </p>
          <input type="text" name="estoque" placeholder="Digite o seu e-mail" id="atv">
        </div>

        <div class="pai">
          <div>
            <p> SENHA </p>
            <input type="text" name="valor" placeholder="Digite uma senha" id="atv">
          </div>

          <div>
            <p> TELEFONE </p>
            <input type="text" name="frete" placeholder="Digite o seu telefone" id="atv">
          </div>
        </div>
        <input type="submit" value="Enviar" id="env">
      </section>

    </form>
    <div id="cadastrados">
      <h1> USUÁRIOS CADASTRADOS </h1>

      <table>
        <tr>
          <th>Nome</th>
          <th>Cpf</th>
          <th>Endereço</th>
          <th>E-mail</th>
          <th>Senha</th>
          <th>Telefone</th>
        </tr>
        <%Usuarios.forEach(function(usuario){%>
        <tr>
          <td><%=usuario.nome%></td>
          <td><%=usuario.cpf%></td>
          <td><%=usuario.endereco%></td>
          <td><%=usuario.email%></td>
          <td><%=usuario.senha%></td>
          <td><%=usuario.telefone%></td>
        </tr>
        <%})%>

      </table>
    </div>
  </main>
</body>

</html>