<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_produtos.css">
    <title>E-PAMPA</title>
</head>
<body>
  <header class="cabecalho">
    <img src="menu.png" alt="menu" height="30px" class="menu-hamburguer">
    <nav class="menu-navegacao">
      <ul>
        <li><a href="/produtos">Home</a></li>
        <% if (session.id_empresa) { %>
          <li><a href="/perfilEmpresarial">Perfil Empresa</a></li>
          <li><a href="/meusProdutos">Meus Produtos</a></li>
        <% } else if (session.id_usuario) { %>
          <li><a href="/perfil">Perfil</a></li>
          <li><a href="">Favoritos</a></li>
        <% } %>
        <li><a href="/sair" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <% dados.forEach(function(produto) { %>
    <div class="card">
      <img src="data:image/jpeg;base64,<%- produto.foto %>" height="100px" />
      <div class="name"><%= produto.nome %></div>
      <div class="price"><%= produto.valor %></div>
      <div class="description"><%= produto.descricao %></div>
      <div class="company"><%= produto.empresa_id %></div>
      <div class="shipping"><%= produto.frete %></div>
    </div>
    <% }) %>
  </div>
</body>
<script>
  const menuHamburguer = document.querySelector('.menu-hamburguer');
  const menuNavegacao = document.querySelector('.menu-navegacao');

  menuHamburguer.addEventListener('click', () => {
    menuNavegacao.style.display = menuNavegacao.style.display === 'none' ? 'block' : 'none';
  });
</script>
</html>